<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.uottawa.brand">

	<require plugin="net.sourceforge.dita4publishers.html5" />
	
	<template file="build_uohtml5-transtype-html5_template.xml" />
	
	<feature extension="dita.conductor.transtype.check" value="uohtml5" type="txt" />
	<feature extension="dita.conductor.target.relative" file="build.xml" type="file" />
	<feature extension="xsl.transtype-html5" value="xsl/brand.xsl" type="file" />
	<feature extension="dita.html5.map" value="parameters.xml" type="file" />
</plugin>
